.active_sec{

    .active_head{
        text-align: center;
        font-style: oblique;
        padding: 20px 0px;
    }
    .active_card_text{
        font-weight: 600;
        font-style: oblique;
        margin-bottom: 2px;
    }
}