.store_profile_sec{

    .prof_all_head{
        text-align: center;
        font-style: oblique;
        padding: 20px 0px;
    }
    .store_card_text{
        font-weight: 600;
        font-style: oblique;
        margin-bottom: 2px;
    }

    .store_lower_buttons{
        display: flex;
       justify-content: space-around;
       align-items: center;
      }
      .store_update_button > button{
        width: 100px;
          height: 30px;
          background: transparent
            linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
            no-repeat padding-box;
          border-radius: 20px;
          border: none;
          color: #ffffff;
          font-size: 14px;
          cursor: pointer;
          font-weight: 600;
      }
}

.banner-image {
  height: 250px; // Adjust height as needed
  background-size: cover;
  background-position: center;
}

.input-container {
  position: relative;
  display: inline-block;
}

.icon-eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 0px; 
  margin-right: 5px; 
}

.icon-copy {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 30px; 
  margin-right: 5px; 
}
.strat_refr_input{
  width: 350px;
  height: 40px;
  border-radius: 20px;
  border:  2px solid red;
  outline: none;
  padding: 0px 15px;
  padding-right: 40px; 
}

