.loding_wrap2{
    width: 100%;
    height: 100vh;
    // background: transparent
    // linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
    // no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;

    .logo_div {
      width: 100%;
      height: calc(69px - 6px);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      // background-color: #ffffff;
      border-right:2px solid #384450;
      padding: 80px 70px;
  
      .text_wrap {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background: linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%);
        background-clip: text; /* This property is used to clip the background to the text */
        -webkit-background-clip: text; /* For compatibility with older browsers using the webkit prefix */
        color: transparent; /* Make the text transparent to show the gradient */
        
      .text{
        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
      }
  
      .subtext{
        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
      }
    }
    }
  }