.estate_all_section{

.all_house_rent{
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 2px;
}
.all_house_sale{
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 2px;
}
.all_plot_sale{
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 2px;
}
.all_plot_rent{
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 2px;
}
.estate_lower_buttons{
    display: flex;
    flex-direction: row;
   gap: 30%;
  }
  .est_lw_button > button{
    width: 100px;
      height: 30px;
      background: transparent
        linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
        no-repeat padding-box;
      border-radius: 20px;
      border: none;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;
      font-weight: 600;
  }

}