.estate_all_section{

.all_house_rent{
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 2px;
}
.all_house_sale{
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 2px;
}
.all_plot_sale{
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 2px;
}
.all_plot_rent{
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 2px;
}


}