.all_strategic_section{

.all_strategic_heading{
    text-align: center;
    padding: 30px 0px;
    font-style: oblique;
}
.all_strategic_card{
    border: 0px !important;
    box-shadow: 2px 2px 2px 2px red;
}
.all_strategic_card_text{
    font-style: oblique;
    font-size: 12px;
    font-weight: bold;
    margin: 2px;
}
}
