.aboutus_page{

    .cover_div {
        width: 100%;
        /* height: calc(100vh - 102px); */
        padding-left: 0px;
        padding-right: 0px;
        background-color: #0f1837;
        align-items: center;
        border-radius: 4px;
      }
      .video_player {
        width: 100%;
        padding: 0px;
        margin: 0px;
      }
     
    
}
.aboutus-section{
    padding: 100px 0px;

    .aboutus-paragraphs{
        font-size: 17px;
        margin-left: 20px;
        font-style: oblique;
      }

}