
.all_architect_data{
    padding: 30px 0px 30px 0px;
}
.all_architects_heading{
    text-align: center;
    margin: 20px 0px;
    font-style: oblique;
}
.service_all_main_headings{
    font-style: oblique;
    padding: 20px 0px;
    margin-left: 20px;
}
.services_card{
    border: 0px !important;
}
    .service_all_see_div{
        text-align: end;
    }
    .service_all_see{
        
        font-style: oblique;
        font-size: 16px;
        text-decoration: underline;
        color: black;
    }
    .service_all_data{
        font-style: oblique;
        font-weight: 600;
        margin-bottom: 2px;
    }
