.gig-detail-outer-wrapper {
  height: 100vh;
  background: #f6f6f6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
}
.gig-detail-inner-wrapper {
  height: auto;
  border-radius: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 40px;
}

.service-header h1 {
  color: #1b292b;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
}
.service-header p {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #1b292b;
  font-weight: 600;
}
.category-header {
  margin-top: -28px;
  padding: 0px 40px;
  font-family: "Poppins", sans-serif;
}

.description {
  width: auto;
  margin-top: -12px;
  text-align: start;
  padding: 0px 40px;
  color: #1b292b;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
}

.location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 40px;
  margin-top: -40px;
}

.location-header h1 {
  font-family: "Poppins";
  color: #1b292b;
}

.location-header p {
  font-weight: 600;
  color: #1b292b;
  font-size: 42px;
}

.gig-approval-outer-container {
  height: auto;
  background: #f6f6f6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 65px;
}

.first-gig-approval-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.gig-back-icon {
  color: #1b292b 0% 0% no-repeat padding-box;
  font-size: 26px;
  margin-top: 4px;
  font-weight: 600 !important ;
}

.first-gig-approval-section h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1b292b;
  margin-left: 20px;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
}

.second-gig-approval-section {
  display: flex;
  align-items: flex-start;
  margin-top: -20px;
  justify-content: space-between;
}

.username-sub-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 50px;
}

.username-sub-section img {
  width: 30px;
  height: 30px;
}

.username-last-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 30px;
}

.username-last-section h1 {
  font-size: 20px;
  font-family: "Montserrat";
  color: #1b292b;
}

.username-last-section p {
  font-size: 14px;
  margin-top: -10px;
  font-family: "Montserrat";
  color: #1b292b;
}
.price-section {
  padding-right: 30px;
}
.price-section h1 {
  font-size: 16px;
  font-family: "Montserrat";
  color: #1b292b;
}
.gig-approval-image {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.prev-button-gig {
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 170px;
  width: 60px;
}

.next-button-gig {
  position: absolute;
  z-index: 1;
  right: 40px;
  top: 170px;
  width: 60px;
}

.gig-second-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.gig-second-image-container img {
  width: 180px;
  height: 180px;
  margin: 12px;
  border-radius: 24px;
}

.description-container {
  padding-left: 30px;
  padding-right: 10px;
}

.description-container h1 {
  font-size: 40px;
  color: #1b292b;
  text-shadow: 8px 4px 6px #00000029;
}

.description-container p {
  margin-top: -16px;
  font-size: 20px;
  font-family: "Poppins";
  line-height: 30px;
  color: #1b292b;
}

.gig-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 80px;
  padding-left: 4px;
}

.gig-input-sub-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.gig-input-sub-container h1 {
  font-size: 20px;
  font-family: "Poppins";
  color: #1b292b;
  opacity: 1;
}

.gig-input-sub-container input {
  border: none;
  height: 70px;
  width: 90%;
  border-radius: 14px;
  opacity: 1;
  font-size: 20px;
  padding-left: 20px;
}

.gig-input-sub-container input:focus {
  outline: none;
}

.gig-input-sub-container-last {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.gig-input-sub-container-last h1 {
  font-size: 20px;
  font-family: "Poppins";
  color: #1b292b;
  opacity: 1;
}

.gig-input-sub-container-last input {
  border: none;
  height: 70px;
  width: 90%;
  border-radius: 14px;
  opacity: 1;
  font-size: 20px;
  margin-bottom: 60px;
  padding-left: 20px;
}

.gig-input-sub-container-last input:focus {
  outline: none;
}

@media screen and (max-width: 640px) {
  .service-header {
    flex-direction: column;
    padding: 0px 10px;
  }
  .service-header h1 {
    font-size: 26px;
  }
  .service-header p {
    margin-top: -10px;
  }

  .category-header {
    padding: 0px 10px;
  }

  .description {
    padding: 0px 10px;
  }

  .location-header {
    padding: 0px 10px;
  }
  .location-header p {
    font-size: 30px;
  }

  .gig-detail-outer-wrapper {
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
  }

  .username-sub-section {
    padding-left: 20px;
    margin-top: -5px;
  }

  .username-sub-section img {
    width: 25px;
    height: 25px;
    padding-left: 22px;
    margin-right: -20px;
  }

  .gig-second-image-container img {
    width: 80px;
    height: 80px;
    border-radius: 12px;
  }

  .gig-input-container {
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 0px;
    flex-direction: column;
  }
  .gig-input-sub-container h1 {
    margin-top: 20px;
  }
  .gig-input-sub-container input {
    margin-bottom: 20px;
    margin-top: -10px;
  }
  .gig-approval-outer-container {
    border-radius: 10px;
  }
  .prev-button-gig {
    left: 10px;
    width: 45px;
  }

  .next-button-gig {
    right: 10px;
    width: 45px;
  }
  .description-container h1 {
    font-size: 30px;
  }

  .description-container p {
    font-size: 16px;
    line-height: 26px;
  }
  .description-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
