.user-list-input {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.user-list-input input {
  width: 90%;
  height: 55px;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: none;
  padding: 0 58px;
}

.user-list-input input:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  top: 15px;
  left: 22px;
  font-size: 24px;
  color: #1b292b;
}

.search-button {
  position: absolute;
  right: 16px;
  top: 9px;
}

.table-wrapper {
  background: #f6f6f6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
}

.table-header {
  font-size: 20px !important;
  font-weight: 600 !important;
  padding-top: 50px !important;
  padding-bottom: 30px !important;
}

.secondary-table-text {
  padding: 40px !important;
}

@media screen and (max-width: 900px) {
  .user-list-input {
    margin-top: 20px;
  }
}
