.service_activeadd_section{
padding: 20px 0px;

.service_active_heading{
    text-align: center;
    font-style: oblique;

}
.serivce_active_card{
    margin-top: 10px;
    width: 300px;
}
.active_card_inner{
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 600;
    font-style: oblique;
}

}