.userdetail-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.backicon {
  font-size: 30px;
}
.userdetail-header h1 {
  margin-left: 20px;
  font-family: "Poppins";
}

.userdetail-outer-container {
  height: auto;
  background: #f6f6f6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  opacity: 1;
}

.left-user-detail-container {
  margin-left: -10px;
  height: auto;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}
.online-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.online-container button {
  margin-right: 20px;
  margin-top: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #70707033;
  border-radius: 20px;
  text-align: left;
  font-family: "Poppins";
  font-size: 10px;
  letter-spacing: 0px;
  color: #1bcf2d;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
}

.left-user-detail-sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.left-user-detail-sub-container img {
  width: 48%;
  height: 48%;
  border-radius: 30px;
}

.left-user-detail-sub-container h1 {
  margin-top: 8px;
  font-family: "Poppins";
  font-size: 20px;
  letter-spacing: 0px;
  color: #1b292b;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
}

.left-user-detail-sub-container p {
  font-family: "Montserrat";
  font-size: 18px;
  margin-top: -4px;
  letter-spacing: 0px;
  color: #707070;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
  opacity: 0.7;
}

.left-user-detail-last-container {
  display: flex;
  padding: 0px 10px;
  margin-top: 10px;
  padding-bottom: 22px;
  flex-direction: column;
}
.left-user-detail-last-sub-container {
  display: flex;
  flex-direction: row;
  height: 50px;
  background: #fafafa 0% 0% no-repeat padding-box;
  border-radius: 20px;
  padding: 0px 20px;
  margin: 5px;
  justify-content: space-between;
  align-items: center;
}
.left-user-detail-from-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.left-user-detail-from-container h1 {
  font-family: "Montserrat";
  font-size: 10px;
  margin-left: 5px;
  letter-spacing: 0px;
  color: #1b292b;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
}
.left-user-detail-sub-location {
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0px;
  color: #707070;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
  opacity: 0.7;
}
.right-outer-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.right-inner-container {
  margin: 5px;
  display: flex;
  margin-top: 20px;
}

.user-detail-image {
  z-index: -1;
  width: 200px;
  height: 200px;
}

.prev-button-user {
  position: absolute;
  z-index: 1;
  top: 90px;
  width: 30px;
}

.next-button-user {
  position: absolute;
  z-index: 1;
  top: 90px;
  right: 0;
  width: 30px;
}

.user-detail-image-container {
  width: 200px;
}

.right-container-title {
  margin-top: 0px;
  margin-bottom: -10px;
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 0px;
  color: #1b292b;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
}

.user-detail-image-sub-container {
  height: auto;
}
.service-heading {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 900;
  color: #1b292b;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
}
.service-type {
  margin-left: 10px;
  font-size: 10px;
  margin-top: -4px;
  font-family: "Montserrat";
  color: #707070;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
  opacity: 0.7;
}
.starting-price-container {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  opacity: 1;
}
.starting-price-container h1 {
  font-size: 10px;
  font-family: "Montserrat";
  color: #1b292b;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
}

.starting-price-container p {
  font-size: 10px;
  font-family: "Montserrat";
  color: #1b292b;
  text-shadow: 8px 4px 6px #00000029;
  text-transform: capitalize;
}

@media screen and (max-width: 730px) {
  .right-outer-container {
    flex-direction: column;
  }
  .userdetail-outer-container {
    padding: 10px 10px 10px 10px;
  }
  .left-user-detail-container {
    margin-left: 0px;
  }
  .right-container-title {
    margin-top: 20px;
  }
}
