.dashboard-header-text {
  opacity: 1;
  font-family: "Poppins", sans-serif;
}

.icon {
  color: white;
  font-size: 30px;
  width: 100%;
  align-content: center;
  position: relative;
  top: 20px;
}
.stats {
  color: white;
  font-size: 40px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-description {
  width: 50px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: -30px;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.card-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-wrapper {
  margin-right: 40px;
  margin-top: 10px;
  width: 140px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 26px;
  opacity: 1;
}
