::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f6f6f6;
}

.guest-analysis-wrapper::-webkit-scrollbar-track,
.ant-table-body::-webkit-scrollbar-track {
  background: grey;
}

::-webkit-scrollbar-thumb {
  background-color: #f0090d;
  border-radius: 6px;
}
.slick-next:before, .slick-prev:before{
  display: none !important;
}
.col-padding{
padding: 0px !important;
}
.slick-next{
  right: 0px !important;
}
.hero-image1{
  width: 100% !important;
  height: 500px;
}
.hero-text-div{
  position: absolute;
  top: 50%;
}
.hero-text{
  margin-left: 50px;
  color: whitesmoke;
  font-weight: 700;
}
.home-allheadings{
  margin-top: 12px;
}

.mmproject-heading{
 text-align: center;
}
.mm-image{
  width: 100% !important;
  height:400px!important; 
  border-radius: 40px;
}
.mm-heading{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  margin-top: 30%;
}
/* store section */

.side-img-div{
  margin: auto;
  text-align: end;
}
.store-sideimage{
  width: 80px;
  height: 80px;
}
.store-card{
  padding-top: 20px;
  width: 350px !important;
  /* border-radius: 20px !important; */
  border: 0px !important;
}
.store-names{
  text-align: center;
  font-size: 28px !important;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.homepage-allsection{
  padding: 30px 0px;
}
.team-home-image{
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px;
}
.home-project-image{
  width: 100% !important;
}
.viewall-div{
  margin-top: 30px;
  text-align: end;
}
.team-viewall{
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  
}
.project-cardimg{
  border-radius: 30px !important;
}
/* About Us */
.cover_div {
  width: 100%;
  /* height: calc(100vh - 102px); */
  padding-left: 0px;
  padding-right: 0px;
  background-color: #0f1837;
  align-items: center;
  border-radius: 4px;
}
.video_player {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.about-hero{
  width: 100% !important;
}
.aboutus-section{
  padding: 100px 0px;
}
.aboutus-paragraphs{
  font-size: 17px;
  margin-left: 20px;
  
  
}
/* AboutUs End */


/* Services */
.services-slider-images{
  /* width: 9% !important; */
  height: 100% !important;
}

/* Services End */

/* Our Team section */
  .team-hero-img{
    width: 100% !important;
  }
  .team-heading-div{
    text-align: center;
  }
  .side-logo{
    width: 90px;
  }
  .team-heading{
    font-size: 36px !important;
    margin-left: 5px;
    
  }
/* Our Team End */
/* Our team page */
.team-page-heading{
  text-align: center;
  padding: 100px 0px;
}
  .team-cardimg{
    height: 100px !important;
    width: 100px !important;
    border-radius: 100px !important;
    margin-left: 100px;
    align-items: center;
  }

/* Our Team page End */
/* Contact Us */
.contactus-section{
  padding: 50px 0px;
}
.contact-hero-img{
 width: 100% !important;
}
.message-heading{

}
.contactus-input{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
  margin-top: 10px;
  border: 1px solid #f0090d !important;
}
.contact-messagearea{
  width: 300px;
  height: 150px;
  border-radius: 20px;
  padding-left: 10px;
  margin-top: 10px;
  border: 1px solid #f0090d !important;
 
}
.message-button-div{
  margin-top: 40px;
  margin-left: 22px;
}
.contactus-button{
  padding: 11px 60px;
  background: transparent
  linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
  no-repeat padding-box;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.contactus-button:hover{
  padding: 11px 60px;
  background: transparent
  linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
  no-repeat padding-box;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
/* Contact Us End */

/* wrapper */

.main-wrapper {
  height: 100vh;
  background: transparent
    linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
    no-repeat padding-box;
}
.right-panel-wrapper {
  z-index: 1;
  background-color: #ffffff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 100vh;
  padding: 20px 20px 20px 40px;
  overflow: auto;
}

@media screen and (max-width: 900px) {
  .right-panel-wrapper {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 00px;
    padding: 0px 20px 0px 20px;
  }
}
/* wrapper End */

/* Real Estate Dasboard */

.estate-labels{
  padding: 0px 0px 10px 10px;
}
.estate-label-headings{
  font-size: 16px;
  font-weight: 600;
}
.estate-inputs{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding-left: 15px;
  border: 1px solid #f0090d !important;
}
.estate-button-div{
  margin-top: 40px;
}
.estate-button{
  padding: 11px 100px;
  background: transparent
  linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
  no-repeat padding-box;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.estate-button:hover{
  padding: 11px 100px;
  background: transparent
  linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
  no-repeat padding-box;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
/* Real Estate Dashboard End */

/* Business Dashboard */

.business-labels{
  padding: 0px 0px 10px 10px;
}

.business-label-headings{
  font-size: 16px;
  font-weight: 600;
}
.business-inputs{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding-left: 15px;
  border: 1px solid #f0090d !important;
}

/* Business Dashboard End */



/* Footer */
.footer-section{
  background: url(../src/images/footerbackground.png);
  height: 550px;
  background-size: cover;
  /* opacity: 0.9; */
  /* background-color: black !important; */
}
.footer-listdiv{
  padding: 90px 0px;
}
.footer-heading{
  margin-left: 20px;
  color: whitesmoke;
}
.footerlist-type{
  list-style-type: none;
}
.footer-list{
  padding: 5px 0px;
}
.list-text{
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
  font-size: 15px;
}
.list-text:hover{
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
  font-size: 15px;
}

/* Footer End */