::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent
  linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
  no-repeat padding-box;
}

.guest-analysis-wrapper::-webkit-scrollbar-track,
.ant-table-body::-webkit-scrollbar-track {
  background: grey;
}

::-webkit-scrollbar-thumb {
  background-color: #f6f6f6;
  border-radius: 6px;
}
.slick-next:before, .slick-prev:before{
  display: none !important;
}
.col-padding{
padding: 0px !important;
}
.slick-next{
  right: 0px !important;
}

/* store section */



.team-home-image{
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px;
}




/* Services */
.services-slider-images{
  /* width: 9% !important; */
  height: 100% !important;
}

/* Services End */

/* Our Team section */
  .team-hero-img{
    width: 100% !important;
  }
  .team-heading-div{
    text-align: center;
  }
  .side-logo{
    width: 90px;
  }
  .team-heading{
    font-size: 36px !important;
    margin-left: 5px;
    
  }
/* Our Team End */
/* Our team page */
.team-page-heading{
  text-align: center;
  padding: 100px 0px;
}
  .team-cardimg{
    height: 100px !important;
    width: 100px !important;
    border-radius: 100px !important;
    margin-left: 100px;
    align-items: center;
  }

/* Our Team page End */
/* Contact Us */



/* Contact Us End */

/* wrapper */

.main-wrapper {
  height: 100vh;
  background: transparent
    linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
    no-repeat padding-box;
}
.right-panel-wrapper {
  z-index: 1;
  background-color: #ffffff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 100vh;
  padding: 20px 20px 20px 40px;
  overflow: auto;
}

@media screen and (max-width: 900px) {
  .right-panel-wrapper {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 00px;
    padding: 0px 20px 0px 20px;
  }
}
/* wrapper End */

/* Real Estate Dasboard */

.estate-labels{
  padding: 0px 0px 10px 10px;
}
.estate-label-headings{
  font-size: 16px;
  font-weight: 600;
}
.estate-inputs{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding-left: 15px;
  border: 1px solid #f0090d !important;
}
.estate-button-div{
  margin-top: 40px;
}
.estate-button{
  padding: 11px 100px;
  background: transparent
  linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
  no-repeat padding-box;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.estate-button:hover{
  padding: 11px 100px;
  background: transparent
  linear-gradient(180deg, #ff0007 0%, #f0090d 50%, #850000 100%) 0% 0%
  no-repeat padding-box;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
/* Real Estate Dashboard End */

/* Business Dashboard */

.business-labels{
  padding: 0px 0px 0px 10px;
}

.business-label-headings{
  font-size: 16px;
  font-weight: 600;
}
.business-inputs{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding-left: 15px;
  border: 1px solid #f0090d !important;
}

.image-div-upload {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  height: 230px; /* Default height, you can adjust this value as needed */
  width: 100%;
margin-block:30px ;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed black; /* You can adjust the color as needed */
  border-radius: 0.375rem;

}
.inner-image-div-upload {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  display: flex;
  align-items: center;
  gap: 1rem; /* You can adjust this value as needed */
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.inner-image-div-upload.is-dragging {
  background-color: #eee;
}

.inner-image-upload {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  height: 500px; /* Default height, you can adjust this value as needed */
  width: 100%;
margin-block:30px ;

 
  margin-left: auto;
  margin-right: auto;
}

.inner-image-upload img {
  height: 100%;
  width : 100%;
  object-fit: cover;
}
/* Business Dashboard End */



