.strategic_sale_Profile_sec{

    .Strategic_prof_heading{
        text-align: center;
        font-style: oblique;
        padding: 20px 0px;
    }
    .strat_div{
        margin: 40px 0px;
    }
    .strat_refr_label{
        font-style: oblique;
        font-size: 16px;
        font-weight: bold;
        margin-left: 10px;
    }
    .strat_refr_input{
        width: 350px;
        height: 40px;
        border-radius: 20px;
        border:  2px solid red;
        outline: none;
        padding: 0px 15px;
    }
}